<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

    <div class="container p-4">
        <div class="card">
            <div class="card-header">
              Laboratorio 05 de Introducción  a Cognitive Computing
            </div>
            <div class="card-body">
              <h5 class="card-title">Lab 05 </h5>
              <p class="card-text">Juntar un contenedor de docker con una applicació y otro contenedor con la base de datos</p>
              <a href="/list" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

    </div>
</body>
</html>